<div *ngFor="let price of prices; let i = index">
  {{ companyList[i] }} ({{ symbolList[i] }}): {{ price | currency }}
  <app-stock-trade [symbol]="symbolList[i]"></app-stock-trade>
</div>




<div class="allStocks-container">
  <div *ngFor="let stock of allStocks" class="card text-center">
    <div class="card-header">
      <div class="allStocks-companyName">
        {{ stock.companyName }}
      </div>
      Change: {{ stock.change }}, {{ stock.changePercent }}%
    </div>
    <!-- <div class="card-footer text-muted">
     Change: {{ stock.change }},{{ stock.changePercent }}%
  </div> -->
    <div class="card-body">
      <h5 class="card-title">{{ stock.symbol }}</h5>
      <p class="card-text">{{ stock.latestPrice }}</p>
    </div>
  </div>
</div>