<form [formGroup]="sendForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name" class="login-form-label">
      Username:
      <input
        type="text"
        placeholder="Your username"
        class="form-control"
        id="name"
        formControlName="name"
      />
    </label>
    <br />
    <label for="password" class="login-form-label"
      >Password:
      <input
        type="password"
        placeholder="Your password"
        class="form-control"
        id="password"
        formControlName="password"
    /></label>
    <br />
    <small id="passwordHelpBlock" class="form-text text-muted">
      {{ errorMessage }}
    </small>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
