.allStocks-companyName {
  font-weight: bold;
}

.text-center {
  margin: 20px;
  opacity: 0.75;
}

.allStocks-container {
  background-image: url("../../assets/stock_wallpaper.jpg");
  background-size: cover;
  padding: 20px;
  height: 100%;
}
