<div class="welcome-screen-wrapper">
  <div class="welcome-form-container">
    <div class="welcome-screen-buttons-wrapper">
      <mat-radio-group aria-label="Select an option">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary">
            <mat-radio-button value="login" (change)="change()" checked class="LoginRadioButtonInForm">
              Login
            </mat-radio-button>
          </label>
          <label class="btn btn-secondary">
            <mat-radio-button value="register" (change)="change()">
              Register
            </mat-radio-button>
          </label>
        </div>
      </mat-radio-group>
    </div>

    <div *ngIf="isLogin">
      <label class="welcome-form-component"
        ><br />
        <app-login-form></app-login-form>
      </label>
    </div>
    <div *ngIf="isRegister">
      <label class="welcome-form-component"
        ><br />
        <app-register-form></app-register-form>
      </label>
    </div>
  </div>
</div>
