<div>
  <mat-radio-group aria-label="Select an option">
    <mat-radio-button value="login" (change)="setToLogin()" checked
      >Login</mat-radio-button
    >
    <mat-radio-button value="register" (change)="setToRegister()"
      >Register</mat-radio-button
    >
  </mat-radio-group>
  <br />
  <div *ngIf="isLogin">
    <label>Login<br /><app-login-form></app-login-form></label>
  </div>
  <div *ngIf="isRegister">
    <label>Register<br /><app-register-form></app-register-form></label>
  </div>
</div>
